@page "/adduser"
@rendermode InteractiveServer
@using SkillsMatrix.Infrastructure.Models
@using SkillsMatrix.Infrastructure.Services.UserService
@inject IUserService userService;

<PageTitle>New User</PageTitle>

<h3>New User</h3>
<!--
<MudAutocomplete T="string" Label="Choose a skill" ResetValueOnEmptyText="true" @bind-Value="Skill.Name" />
-->

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@User" FormName="AddUser" OnValidSubmit="HandleValidSubmit">
            <div class="mb-3">
                <label for="name" class="form-label">Username:</label>
                <InputText id="name" @bind-Value="User.Name" class="form-control" />
                <label for="email" class="form-label">email:</label>
                <InputText id="email" @bind-Value="User.Email" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Add User</button>
        </EditForm>
    </div>
</div>

@code
{
    private User User { get; set; } = new User();

    //private string skill;

    private async Task HandleValidSubmit()
    {
        if (User is null) return;
        await userService.Add(User);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }

}