@page "/assessment"
@inject IUserSkillRatingService userSkillRatingService
@inject ICategoryService categoryService
@inject IUserService userService
@inject ISkillService skillService
@inject ISnackbar Snackbar

@if (currentUser == null || (Skills == null || !Skills.Any()) || (Categories == null || !Categories.Any()) || (UserSkillRatingsByUser == null || !UserSkillRatingsByUser.Any()))
{
    <p>Loading...</p>
}
else
{
    <div class="w-100">
        <BLStepper Elevation="1" Items="Categories.ToList()" Context="category" Title="Skills Assessment" SaveText="Save Assessment" OnSave="HandleValidSubmit" AllowStepClick="true" IntroTitle="Introduction" SummaryTitle="Summary">
            <StepTemplate>
                @category.Name
            </StepTemplate>
            <ContentTemplate>

                <div class="rating-grid">
                    @foreach (var skill in Skills.Where(s => s.CategoryId == category.Id))
                    {
                        var userSkillRating = GetTempUserSkillRatingForSkill(skill);
                        <SkillRatingComponent UserSkillRating="userSkillRating" />
                    }
                </div>
            </ContentTemplate>
            <IntroContent>
                <MudText>
                    <h4>Welcome to the Skills Assessment</h4>
                    During the skills assessment you will enter your current skill level, and your interest level in potentially learning this skill.<br />
                    For each categorie you will find different skills. The skills are divided in categories to make it easier to assess. <br />
                    You can go back to already filled in skills while doing the assessment or retake the assessment at a later point in time.
                </MudText>
            </IntroContent>
            <SummaryContent>
                <MudText>
                    <h4>Skills assessment done</h4>
                    All the categories have been walked through. Below you will find a summary from your selected levels per skill.
                </MudText>
                <Summary CurrentUser="currentUser" TempUserSkillRatingsByUser="TempUserRatings" />
            </SummaryContent>
        </BLStepper>
    </div>
}

@code {
    private User currentUser;
    private IEnumerable<Category> Categories { get; set; }
    private IEnumerable<Skill> Skills { get; set; }
    private List<UserSkillRating> UserSkillRatingsByUser { get; set; } = new();
    private List<UserSkillRating> TempUserRatings { get; set; } = new();
    private bool _processing = false;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await userService.GetById(12);
        Categories = await categoryService.GetAll();
        UserSkillRatingsByUser = await userSkillRatingService.GetAllByUserId(currentUser.Id);
        Skills = await skillService.GetAll();
        TempUserRatings = CreateDeepCopy(UserSkillRatingsByUser.Where(usr => Skills.Any(skill => skill.Id == usr.SkillId)).ToList());
    }

    private async Task HandleValidSubmit()
    {
        _processing = true;
        foreach (var tempUserSkillRating in TempUserRatings)
        {
            tempUserSkillRating.LastUpdated = DateTime.Now;
            var originalRating = UserSkillRatingsByUser.FirstOrDefault(usr => usr.SkillId == tempUserSkillRating.SkillId);
            if (originalRating != null && (originalRating.Rating != tempUserSkillRating.Rating || originalRating.DesiredRating != tempUserSkillRating.DesiredRating))
            {
                originalRating.Rating = tempUserSkillRating.Rating;
                originalRating.DesiredRating = tempUserSkillRating.DesiredRating;
                originalRating.LastUpdated = DateTime.Now;
            }
            else if (originalRating == null)
            {
                UserSkillRatingsByUser.Add(tempUserSkillRating);
            }
        }

        currentUser.LastSurvey = DateTime.Now;

        await userSkillRatingService.AddAll(UserSkillRatingsByUser);
        Snackbar.Add("Ratings saved", Severity.Success, config =>
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
        });
        _processing = false;
    }

    private UserSkillRating GetTempUserSkillRatingForSkill(Skill skill)
    {
        var userSkillRating = TempUserRatings.FirstOrDefault(usr => usr.SkillId == skill.Id);
        if (userSkillRating == null)
        {
            userSkillRating = new UserSkillRating
                {
                    UserId = currentUser.Id,
                    SkillId = skill.Id,
                    Skill = skill,
                    User = currentUser,
                };
            TempUserRatings.Add(userSkillRating);
        }
        return userSkillRating;
    }

    private List<UserSkillRating> CreateDeepCopy(List<UserSkillRating> originalRatings)
    {
        return originalRatings.Select(item => new UserSkillRating
            {
                UserId = item.UserId,
                SkillId = item.SkillId,
                Skill = item.Skill,
                User = item.User,
                Rating = item.Rating,
                DesiredRating = item.DesiredRating
            }).ToList();
    }
}