@page "/rateskills"
@inject IUserSkillRatingService userSkillRatingService
@inject ICategoryService categoryService
@inject IUserService userService
@inject ISkillService skillService
@inject ISnackbar Snackbar

<h3>rateSkills</h3>

<div class="row">
    <div class="col-md-4">
        <MudAutocomplete T="Category" Label="Choose a category" MaxItems="null" @bind-Value="SelectedCategory" ToStringFunc="@(category => category==null?null: $"{category.Name}")" SearchFuncWithCancel="@SearchCategory">
            <NoItemsTemplate>
                <MudText Align="Align.Center" Class="px-4 py-1">No matching categories found</MudText>
            </NoItemsTemplate>
        </MudAutocomplete>
    </div>
</div>

@if (SelectedCategory != null)
{
    <EditForm Model="UserSkillRatings" OnValidSubmit="HandleValidSubmit">
        @foreach (var skill in SkillsByCategory)
        {
            var userSkillRating = GetTempUserSkillRatingForSkill(skill);
            <SkillRatingComponent UserSkillRating="userSkillRating" />
        }
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Save All Ratings</MudButton>
    </EditForm>
}

@code
{
    private User currentUser;
    private IEnumerable<Category> Categories { get; set; }
    private IEnumerable<Skill> Skills { get; set; }
    private List<Skill> SkillsByCategory { get; set; }
    private List<UserSkillRating> UserSkillRatings { get; set; } = new();
    private List<UserSkillRating> TempUserRatingsForSelectedCategory { get; set; } = new();
    private Category _selectedCategory;
    [Parameter]
    public Category SelectedCategory
    {
        get => _selectedCategory;
        set
        {
            if (_selectedCategory == value) return;
            _selectedCategory = value;
            SkillsByCategory = Skills.Where(skill => skill.CategoryId == _selectedCategory.Id).ToList();
            TempUserRatingsForSelectedCategory = CreateDeepCopy(UserSkillRatings.Where(usr => SkillsByCategory.Any(skill => skill.Id == usr.SkillId)).ToList());
        }
    }

    protected override async Task OnInitializedAsync()
    {
        currentUser = await userService.GetById(6);
        Categories = await categoryService.GetAll();
        Skills = await skillService.GetAll();
        UserSkillRatings = await userSkillRatingService.GetAllByUserId(currentUser.Id);
    }

    private UserSkillRating GetTempUserSkillRatingForSkill(Skill skill)
    {
        var userSkillRating = TempUserRatingsForSelectedCategory.FirstOrDefault(usr => usr.SkillId == skill.Id);
        if (userSkillRating == null)
        {
            userSkillRating = new UserSkillRating
                {
                    UserId = currentUser.Id,
                    SkillId = skill.Id,
                    Skill = skill,
                    User = currentUser,
                };
            TempUserRatingsForSelectedCategory.Add(userSkillRating);
        }
        return userSkillRating;
    }

    private async Task HandleValidSubmit()
    {
        foreach (var tempUserSkillRating in TempUserRatingsForSelectedCategory)
        {
            tempUserSkillRating.LastUpdated = DateTime.Now;
            var originalRating = UserSkillRatings.FirstOrDefault(usr => usr.SkillId == tempUserSkillRating.SkillId);
            if (originalRating != null)
            {
                originalRating.Rating = tempUserSkillRating.Rating;
                originalRating.DesiredRating = tempUserSkillRating.DesiredRating;
                originalRating.LastUpdated = DateTime.Now;
            }
            else
            {
                UserSkillRatings.Add(tempUserSkillRating);
            }
        }
       
        await userSkillRatingService.AddAll(UserSkillRatings);
        Snackbar.Add("Ratings saved", Severity.Success, config => {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
        });
    }

    private async Task<IEnumerable<Category>> SearchCategory(string value, CancellationToken token)
    {
        await Task.CompletedTask;
        return string.IsNullOrEmpty(value) ? Categories :
        Categories.Where(category => category.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private List<UserSkillRating> CreateDeepCopy(List<UserSkillRating> originalList)
    {
        return originalList.Select(item => new UserSkillRating
            {
                UserId = item.UserId,
                SkillId = item.SkillId,
                Skill = item.Skill,
                User = item.User,
                Rating = item.Rating,
                DesiredRating = item.DesiredRating
            }).ToList();
    }
}
