@using SkillsMatrix.Infrastructure.Models
@using SkillsMatrix.Infrastructure.Services.UserService

@page "/skills"
<h3>Skills</h3>

@code {
    private ICollection<Skill> skills;

    [Inject]
    private UserService UserService { get; set; }



    protected async override void OnInitialized()
    {
        skills = (ICollection<Skill>)await UserService.GetAll();
    }
}
