@rendermode InteractiveServer
@using SkillsMatrix.Infrastructure.Models
@using SkillsMatrix.Infrastructure.Services.UserSkillRatingService
@using SkillsMatrix.Infrastructure.Services.UserService
@inject IUserSkillRatingService UserSkillRatingService
@inject IUserSkillRatingService UserService


@if(UserSkillRating == null) {
    <p>Loading...</p>
} else {
<div>
    <h5>@Skill.Name</h5>
        <label>Current Rating:</label>
        <MudRating @bind-Value="UserSkillRating.Rating" MaxValue="6" FullIcon="@Icons.Material.Filled.Square" EmptyIcon="@Icons.Material.Filled.Square" FullIconColor="Color.Primary" EmptyIconColor="Color.Tertiary" />
        <label>Desired Rating:</label>
        <MudRating @bind-Value="UserSkillRating.DesiredRating" MaxValue="6" FullIcon="@Icons.Material.Filled.Square"/>
</div>
}

@code {
    [Parameter]
    public Skill Skill { get; set; }

    [Parameter]
    public User User { get; set; }

    private UserSkillRating UserSkillRating { get; set; }

    // protected override async Task  OnParametersSetAsync()
    // {
    //     UserSkillRating = await UserSkillRatingService.GetByUserIdAndSkillId(User.Id, Skill.Id);
    //     if(UserSkillRating == null) {

    //         UserSkillRating = new UserSkillRating
    //     {
    //         UserId = User.Id,
    //         SkillId = Skill.Id,
    //         Skill = Skill,
    //         User = User,
    //     };
    //     }
    //     Console.WriteLine(UserSkillRating.Id);
    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            UserSkillRating = await UserSkillRatingService.GetByUserIdAndSkillId(User.Id, Skill.Id);
            if (UserSkillRating == null)
            {

                UserSkillRating = new UserSkillRating
                    {
                        UserId = User.Id,
                        SkillId = Skill.Id,
                        Skill = Skill,
                        User = User,
                    };
            }
            Console.WriteLine(UserSkillRating.Id);
        }
    }

}