@if (UserSkillRating == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <h5>@UserSkillRating.Skill.Name</h5>
        <label>Current:</label>
        <MudRating @bind-SelectedValue="UserSkillRating.Rating" MaxValue="6" />
        <label>Ambition:</label>
        <MudRating @bind-SelectedValue="UserSkillRating.DesiredRating" MaxValue="6" />
    </div>
}

@code {
    [Parameter]
    public UserSkillRating UserSkillRating { get; set; }
}